<h1>Shop List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <!-- 追加のカラムがあれば適宜追加 -->
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.description %></td>
        <!-- 追加のカラムがあれば適宜追加 -->
      </tr>
    <% end %>
  </tbody>
</table>
