/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2/dist/css/select2
 */


body{
  margin: 0;
}

 .container{
    text-align: center;
  }
 
  .field{
    margin: 20px 0 20px;
  }
 
  input{
    width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #ddd;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
  }
  
  .nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu li {
    margin-right: 10px; /* メニュー項目の間隔を調整してください */
    display:  inline-block; 
  }
  
  .nav-menu li:last-child {
    margin-right: 0; /* 最後のメニュー項目の余白をリセット */
  }

  .bookmark-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .bookmark-btn i {
    color: #ccc;
  }
  
  .bookmark-btn i.bookmarked {
    color: gold;
  }

  .btn-delete {
    background-color: #dddddd; /* 赤色の背景 */
    color: #000000; /* 白色の文字 */
    border-radius: 5px; /* ボタンの角を丸くする */
    font-size: 16px; /* ボタンの文字サイズ */
    text-decoration: none; /* ボタン内のリンクを下線なしにする */
  }
  
  .btn-delete:hover {
    background-color: #424242; /* ホバー時の背景色 */
    color: #ffff;
  }
  
 