// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-image {
    border-radius: 50%;
    width: 200px; /* 適切なサイズに変更してください */
    height: 200px; /* 適切なサイズに変更してください */
    object-fit: cover; /* 画像を切り取って表示するための設定 */
  }
