// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a{
    text-decoration: none;
    color: #000000;
}

.map_link{
  color: #0011ff;
}

.shop-list{
    width: 95%;
    margin: 10px 0 0 -50px;
}

.shop-tile{
    width: 25%;
    margin: 0 20px 20px 0;
    float: right;
    border:solid 1px black;
}

/* 店の詳細ページ */
.top_image img{
    width: 60%;
    height: 109px;
    object-fit: cover; 
}

.shop-image{
  margin: 20px 0;
  clear: both;
}

.shop-image img{
    width: 50%;
    height: 50%;
    object-fit: cover; 
}

.shop_text{
  width: 70%;
  margin: 20px auto;
  clear: both;
}

.btn_list{
    width: 30%;
    margin: 0 auto;
}

.edit_btn{
  border: 0;
  border-radius: 5px;
  background: #75777c;
  color: #fff;
  padding: 5px 16px;
  width: 60px;
  font-size: 16px;
  float: left;
  margin-left: 80px;
  margin-bottom: 20px;
}

.del_btn{
  border: 0;
  border-radius: 5px;
  background: #75777c;
  color: #fff;
  float: right;
  padding: 5px 16px;
  width: 60px;
  font-size: 16px;
  margin-right: 80px;
}

/* 管理ページの店一覧 */
.shop-table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}
  
.shop-table th,
.shop-table td {
  padding: 8px;
  border: 1px solid #ccc;
}
  
.shop-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
  
.shop-table td {
  text-align: center;
}

.shop_link{
  float: left;
}

/* 入力欄のスタイル */
.shop_form{
  width: 50%;
  margin: 0 auto;
}

.shop_input {
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.shop_input label {
  width: 100px; /* ラベルの幅を固定値に設定（調整可能） */
}

/* 編集ページのスタイル */
.form_row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form_row label {
  width: 100px; /* ラベルの幅を固定値に設定（調整可能） */
}

.tag_row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tag_row label {
  width: 100px; /* ラベルの幅を固定値に設定（調整可能） */
}
