// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shop-list{
    width: 95%;
    margin: 0 0 0 -50px;
}

.shop-tile{
    width: 25%;
    margin: 0 20px 20px 0;
    float: right;
    border:solid 1px black;
}

.shop_input{
    margin-bottom: 20px;
}


.top_image img{
    width: 60%;
}

.shop-image img{
    width: 60%;
}
