// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .profile-image {
    margin-right: 20px;
  }
  
  .profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .profile-details {
    text-align: left;
  }
  
  .profile-details h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-details p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  #preview {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  /* app/assets/stylesheets/application.css (or .scss) */
.user-table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

.user-table th,
.user-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-table td {
  text-align: center;
}

input[type="submit"]{
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

/* ユーザーの登録フォーム */
.user_form{
  width: 50%;
  margin: 0 auto;
}

.user_input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user_input label {
  width: 100px; /* ラベルの幅を固定値に設定（調整可能） */
}

.submit_btn {
  margin-top: 20px; /* sign upボタンの上に余白を追加（調整可能） */
}

  